<div class="work_area" id="work_area">
  <p class="titolo center">Vendite aperte</p>
  <table class="dettaglio">
    <tbody>
      <tr>
        <td>Vend.</td>
        <td>Sala</td>
        <td>Tav.</td>
        <td>Cliente/Nome</td>
        <td>Ora</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(444)">
        <td>444</td>
        <td>1</td>
        <td>3</td>
        <td>30 - Erminio Gnudi</td>
        <td> 09:43:22</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(445)">
        <td>445</td>
        <td>2</td>
        <td>4</td>
        <td>10 - Lorenzo Colonna</td>
        <td> 09:45:01</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(446)">
        <td>446</td>
        <td>2</td>
        <td>4</td>
        <td>10 - Lorenzo Colonna</td>
        <td> 09:47:10</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(447)">
        <td>447</td>
        <td>1</td>
        <td>2</td>
        <td>30 - Erminio Gnudi</td>
        <td> 09:47:37</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(448)">
        <td>448</td>
        <td>1</td>
        <td>6</td>
        <td>16 - Linda Patricia Bazzocchi</td>
        <td> 11:00:56</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(449)">
        <td>449</td>
        <td>2</td>
        <td>4</td>
        <td>5498 - BRIGITTE TOULLEC</td>
        <td> 11:09:58</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(450)">
        <td>450</td>
        <td>2</td>
        <td>4</td>
        <td>5087 - RADET MARCEL</td>
        <td> 11:15:06</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(451)">
        <td>451</td>
        <td>2</td>
        <td>4</td>
        <td>13 - Roberto Insalata Russa</td>
        <td> 11:16:53</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(452)">
        <td>452</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 12:07:40</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(453)">
        <td>453</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 12:08:09</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(454)">
        <td>454</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 13:03:28</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(455)">
        <td>455</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 13:14:51</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(456)">
        <td>456</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 13:15:05</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(458)">
        <td>458</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 04:24:14</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(459)">
        <td>459</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 04:25:00</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(460)">
        <td>460</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 04:27:22</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(461)">
        <td>461</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 05:05:01</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(462)">
        <td>462</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 05:06:30</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(463)">
        <td>463</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 05:06:51</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(464)">
        <td>464</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 05:07:11</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(465)">
        <td>465</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 12:54:41</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(466)">
        <td>466</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 12:55:53</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(467)">
        <td>467</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 13:19:14</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(468)">
        <td>468</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 13:55:56</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(469)">
        <td>469</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 16:20:14</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(470)">
        <td>470</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td> 16:33:35</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(472)">
        <td>472</td>
        <td>0</td>
        <td>0</td>
        <td></td>
        <td> 17:07:09</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(474)">
        <td>474</td>
        <td>0</td>
        <td>0</td>
        <td></td>
        <td> 18:19:30</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(475)">
        <td>475</td>
        <td>0</td>
        <td>0</td>
        <td></td>
        <td> 13:10:49</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(476)">
        <td>476</td>
        <td>0</td>
        <td>0</td>
        <td></td>
        <td> 13:31:40</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(477)">
        <td>477</td>
        <td>1</td>
        <td>3</td>
        <td></td>
        <td> 14:17:04</td>
      </tr>
      <tr class="riga" onclick="CaricaVendita(478)">
        <td>478</td>
        <td>0</td>
        <td>0</td>
        <td></td>
        <td> 15:13:44</td>
      </tr>
    </tbody>
  </table>
</div>