@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #f8f8f8;
  --tertiary-color: #fefefe;
  --accent-color: #e06f2b;
  --accent-color-alpha: rgba(224, 111, 42, 0.1);

  --text-color: #cccbc9;
  --border-color: #cccbc9;

  --border-radius: 8px;

  --gap: 8px;
}

body {
  background: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 8px;
  text-align: left;
  font-size: 32px;
  color: var(--accent-color);
}

main {
  display: flex;
  gap: var(--gap);
  padding: 8;
}

.col-center {
  width: 75%;
  display: flex;
}

.col-left {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.col-right {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.left {
  width: 65%;
  height: 100%;
  padding: 8px;
}
.right {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 8px;
  gap: var(--gap);
}

.divisioni {
  background-color: var(--accent-color-alpha);
  display: flex;
  height: 107px;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: var(--border-radius);
  padding: 5px 0 5px;
  max-height: 107px;
}

.categorie {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: var(--border-radius);
  background-color: var(--accent-color-alpha);
  padding: 5px 0 5px;
}

.prodotti {
  display: grid;
  grid-template-columns: auto auto auto auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.scontrino {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: 0;
}

.cart-list {
  display: flex;
  flex-direction: column;
  padding: 0 32px 0 32px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.cart-item-details {
  justify-content: space-between;
  display: flex;
}
.cart-item-details:first-child {
  flex: 2;
}
.cart-item-actions {
  display: flex;
  align-items: center;
}
.remove-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.remove-btn img {
  width: 16px;
  height: 16px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  background-color: #ddd;
  border-radius: 10px;
}
.keypad button {
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}
.keypad button:hover {
  background-color: #eaeaea;
}

.funzioni {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  color: var(--accent-color);
  padding: 10px;
  text-align: center;
  font-size: 32px;
}

.button_div {
  background: var(--accent-color);
  color: white;
  padding: 15px 32px;
  display: flex;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 0;
  min-width: 90%;
  gap: 10px;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
}

.button_div img {
  width: 16px;
  height: 16px;
}

.button_cat {
  background: var(--accent-color-alpha);
  color: var(--accent-color);
  padding: 15px 8px 15px 32px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: var(--border-radius);
  min-width: 90%;
  border: 1px solid var(--accent-color);
}

.button_cat img {
  width: 16px;
  height: 16px;
}

.button_prod {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 15px 32px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: var(--border-radius);
  min-width: 90%;
  border: 1px solid var(--border-color);
  gap: 10px;
}

.button_prod img {
  width: 32px;
  height: 32px;
}

.button_func {
  background: var(--primery-color);
  color: var(--text-color);
  padding: 15px 32px;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  max-width: 90%;
  gap: 10px;
}

.button_func img {
  width: 16px;
  height: 16px;
}
