@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #f8f8f8;
  --accent-color: #e06f2b;
  --accent-color-alpha: rgba(224, 111, 42, 0.1);

  --text-color: #cccbc9;

  --border-radius: 8px;
  --border-color: #cccbc9;
}

body {
  background: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

header {
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 32px;
}

main {
  display: flex;
  gap: 20px;
}

.col-center {
  width: 80%;
  display: flex;
}

.left {
  width: 70%;
  height: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  width: 30%;
  .lefta {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-items: center;
  }
  .rightb {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-items: center;
  }
}

.col-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divisioni {
  background-color: var(--accent-color-alpha);
  display: flex;
  height: 250px;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: var(--border-radius);
  max-height: 110px;
}

.col-left,
.col-right {
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categorie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: var(--border-radius);
}

.funzioni {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 32px;
}

.button_div {
  background: var(--accent-color);
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 0;
  min-width: 90%;
}

.button_cat {
  background: var(--accent-color-alpha);
  color: var(--accent-color);
  padding: 15px 8px 15px 32px; /* Consider if specific top-right-bottom-left values are needed */
  display: flex;
  justify-content: flex-start; /* Aligns content to the left */
  gap: 10px; /* Adjust if necessary for different layouts */
  font-size: 14px; /* Ensure font size consistency */
  margin: 4px 2px; /* Review for consistent spacing */
  cursor: pointer;
  border-radius: var(
    --border-radius
  ); /* Ensure border-radius is consistent with design */
  min-width: 90%; /* Review for responsiveness */
  border: 1px solid var(--accent-color); /* Ensure border consistency */
}

// .button_cat {
//   background: var(--accent-color-alpha);
//   color: var(--accent-color);
//   padding: 15px 32px;
//   display: flex;
//   justify-content: left;
//   gap: 8px;
//   font-size: 14px;
//   margin: 4px 2px;
//   cursor: pointer;
//   border-radius: var(--border-radius);
//   min-width: 90%;
//   border: 1px solid var(--accent-color);
// }

.button_prod {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 15px 32px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: var(--border-radius);
  min-width: 90%;
  border: 1px solid var(--border-color);
  gap: 10px;
}
