@import "./styles/variables";
// Layout com Grid
body {
  min-height: 100vh;
}

header,
footer {
  background-color: $primary-color;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 32px;
}

main {
  display: flex;
  height: 80vh;
}

.col2 {
  width: 60%;
  text-align: center;
  display: flex;
}

.col2 .cola,
.colb {
  width: 50%;
  height: 100%;
  background: grey;
}

.col1,
.col3 {
  width: 20%;
  text-align: center;
  background: green;
}

.divisione {
  background: greenyellow;
  min-height: 150px;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.Funzioni {
  background: greenyellow;
  height: 100%;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

// Estilos adicionais conforme necessário
